* {
    box-sizing: border-box;

}


body {
    width: 100%;
    height: 100%;
    background-color: #222733;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    scroll-behavior: smooth;

}


.myTopNav {
    background-color: #14171d;
    margin: 0 auto;
    word-spacing: 11px;
    text-align: center;
    padding: 10px 10px;
    word-spacing: 15px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;

}

.myTopNav a {

    color: #6FBF9A;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */
.topNav a:hover {
    background-color: #6FBF9A;
    color: #14171d;
    padding: 15px 15px;
}

.welcome p {
    padding: 2em 1em;
}

p {
    padding-top: 20px;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6FBF9A;
    text-align: center;
    padding-top: 150px;
    font-size: 3rem;
}

.title {
    margin: 10px;
    padding: 30px 30px;
}


.myProfile {
    padding-top: 100px;
    max-width: 25rem;
    margin: auto;
    border-radius: 40%;
}

.container-fluid.intro {
    padding: 80px;
    color: white;

}



/*Gallery*/
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;


}

/* Create two equal columns that sits next to each other */
.column {
    flex: 25%;
    margin: 0 auto;
    text-align: center;


}


.d-block.w-100 {

    padding-top: 50px;
    margin-right: 100px;
    width: 20rem;
    filter: grayscale(0%);
    transition: .5s ease-in-out;

}

.d-block.w-100:hover {
    filter: grayscale(100%);
    transition: .5s ease-in-out;

}



.badges {
    width: 100%;
    padding: 20px;
}

/*Contact section*/

.container.about {
    max-width: 75%;
    padding-top: 50px;

}


input,
textarea {
    text-indent: 15px;
    width: 100%;
    border: 1px solid #444;
    border-radius: 5px;
    background: #1d1e22;
    color: white;
    padding: 10px 0;
    outline: none;
}

.input-group {
    width: 100%;
    margin: 20px 0;

}

.submit-button {
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 12px 0;
    font-size: 14px;
    background: #212234;
    text-align: center;
    transition: background 500ms ease;
    color: white;
}

.submit-button:hover {
    cursor: pointer;
    background: #6FBF9A;
}

/*resume*/
.container-fluid.resume {
    padding-top: 120px;
    text-align: center;

}

.contactImg {

    min-width: 5em;


}


footer {
    background-color: #1d1e22;
    height: 200px;
    color: white;
    padding-top: 100px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia {
    width: 40px;
    margin: 20px;
}

.socialMediaDiv {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

#about {
    padding: 10px 10px;
    margin-top: 140px;
    background-color: #14171d;
    padding-bottom: 100px;
}

/*Stars Animation*/

main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff, -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff, 4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff, -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff,
        4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff, -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff,
        5vw 26vh 0px 0px #fff, -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff, 48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff, 43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff, 39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff, 11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff, -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff, 42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff, -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff, 18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff, 27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff, -43vw 13vh 1px 0px #fff,
        7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff, -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff, -39vw -1vh 1px 0px #fff,
        5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff, 48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff, 21vw 21vh 1px 1px #fff,
        -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff, -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff,
        -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff, 3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff, 35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff, 3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff,
        48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff, -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff,
        29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
    animation: zoom 16s alternate infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}


/*web dev section*/
.carousel-inner {
    max-width: 1200px;
    min-width: 300px;
    border-radius: 20px;
}

.meTwo {
    padding-top: 70px;
    min-width: 1rem;
    max-width: 7.5rem;
    border-radius: 50%;
}

.techStackBadge {
    margin-top: 100px;
    width: 5rem;
    padding: 5px;
    display: inline;

}

b a {
    color: #6FBF9A;
}



section {
    margin-top: 200px;
}

.wrapper {
    max-width: 2000px;
    margin: 0 auto;
}
